.dashboard-container {
  /* min-height: 100vh; */
  background: #f6f6f6;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: start;
}

.dashboard-container.dark-mode {
  background: #111111;
}

/* Mobile overlay */
.sidebar-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 30;
}

/* Main wrapper shifted when sidebar open on desktop */
.main-content {
  margin-left: 0;
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure it takes full height */
  width: 100%;
  overflow: hidden; /* Prevent the page from overflowing */
  margin-left: 0; 
}

@media (min-width: 1024px) {
  .main-content {
    margin-left: 256px;
    /* 64 * 4 */
  }
}

/* TopNav styles (fixed at the top) */
.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 60px; /* Adjust according to your design */
  background: #fff; /* Light background for default */
  z-index: 100; /* Ensure it stays on top of the content */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

.page-content {
  padding: 10px;
  /* padding: 24px; */
}